* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

.hideme {
	display: none;
}

.container {
	width: 90%;
	margin: 0 auto;
	height: 100%;
}


/*Стили для HEADER*/
.first_header {
	height: 50px;
	display: grid;
	align-content: center;

}

.border_bottom {
	border-bottom: 0.1px solid rgba(0,0,0,0.25);	
}

.first_nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.city {
	display: grid;
	align-content: center;
	grid-template-columns: 1fr 1fr;
	width: 45%;
}

#city_text {
	margin-top: 3px;
	font-size: 13px;
	font-weight: 300;
	color: gray;
}

.first_nav > ul > li {
	display: block;
	float: left;
	margin-right: 20px;
	height: 50px;
	display: grid;
	align-content: center;
}

.first_nav > ul > li > a {
	font-size: 13px;
	font-weight: 300;
	color: gray;
	text-decoration: none;
}

.first_nav > .hover_links > li:hover { 
	border-bottom: 2px solid #799b10;
}

.blog_link, .shops_link, .purchase_link {
	display: block;
	border-bottom: 0.5px dashed black;
	margin-top: 1px;
}

.blog_link::before {
	content: '';
	display: inline-block;
	background: url('/images/site/blog_before.jpg') no-repeat center top / cover;
	height: 20px;
	width: 20px;
	border:none
	margin-right: 5px;
	vertical-align: middle;
}

.purchase_link::before {
	content: '';
	display: inline-block;
	background: url('/images/site/purchase_before.jpg') no-repeat center top / cover;
	height: 20px;
	width: 20px;
	border:none;
	margin-right: 5px;
	vertical-align: middle;
}

.shops_link::before {
	content: '';
	display: inline-block;
	background: url('/images/site/shops_before.jpg') no-repeat center top / cover;
	height: 20px;
	width: 20px;
	border:none;
	margin-right: 5px;
	vertical-align: middle;
}




/**Второй HEADER, в нём расположено лого и др.*/
.second_header {
	height: 100px;
	display: grid;
	align-content: center;

}

.second_nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.second_nav > ul > li {
	display: block;
	float: left;
	margin-right: 20px;
	height: 50px;
	display: grid;
	align-content: center;
}

.second_nav > ul > li > a {
	margin-top: 30px;
	font-size: 13px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

.second_nav > ul > li > a:hover {
	color: #799b10;
}

.call_block {
	margin-top: 10px;
	align-items: right;
}

.call {
	color: #799b10;
	border-bottom: 0.5px dashed #799b10;
	width: 50%;
	margin-left: 10%;
	font-size: 13px;
	text-align: right;
}

.call::before {
	content: '';
	display: inline-block;
	background: url('/images/site/call_before.jpg') no-repeat center top / cover;
	height: 15px;
	width: 15px;
	margin-right: 5px;
	vertical-align: middle;
	border:none;
}

.number {
	font-size: 18px;
	margin-left: 10%;
}




/**ПАНЕЛЬ ДЛЯ ОСНОВНЫХ ДЕЙСТВИЙ*/
.main_actions_section {
	height: 60px;
	width: 100%;
}

.main_actions_div {
	height: 60px;
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.actions_panel {
	background-color: rgb(71,157,190);
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.actions_panel > p {
	margin-left: 25%;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

.search_input_div {
	height: 40px;
	position: relative;
	margin-left: 10%;
}

.search_input_div > input {
	height: 40px;
	background-color: #3884a1;
	border: none;
	padding-left: 10px;
	font-size: 16px;
	color: #ffffff;
	display: block;
	width: 100%;
}

.search_input_div > input::placeholder {
	font-size: 16px;
	color: #ffffff;
	opacity: 1;
}

.search_input_div::after {
	content: '';
	display: block;
	position: absolute;
	right: -15px;
	top: 0;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 15px solid #3884a1;
	border-bottom: 20px solid transparent;

}

.login_link {
	margin-left: 25%;
	text-decoration: none;
	color: none;
	border-bottom: 1px dashed white;
	color: white;
	display: block;
	width: 50%;
	font-size: 14px;
	text-align: right;
	white-space: nowrap;
}

.login_link::before {
	content: '';
	display: inline-block;
	background: url('/images/site/login_link_before.jpg') no-repeat center top / cover;
	height: 25px;
	width: 25px;
	margin-right: 5px;
	vertical-align: middle;
	border:none;
}

.actions_panel:after {
	content: '';
	display: block;
	position: absolute;
	right: -15px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 15px solid rgb(71,157,190);
	border-bottom: 30px solid transparent;
}

.cart_div {
	margin-left: 15%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	position: relative;
}

.cart_link, #price_of_cart {
	color: white;
	font-size: 14px;
	font-weight: 900;
	margin-top: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

#price_of_cart {
	margin-top: 5px;
	font-weight: 400;
}

.cart_panel {
	background-color: rgb(141,174,38);
}

.cart_div::before {
	content: '';
	position: absolute;
	top: 30%;
	left: -30px;
	display: inline-block;
	background: url('/images/site/cart_div_before.jpg') no-repeat center top / cover;
	height: 25px;
	width: 25px;
}



/**Стили для вывода продуктов*/
.last_products {
	margin-top: 20px;
	margin-bottom: 100px;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-content: center;
}

.product_name {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	color: #0275d8;
	height: 100px;
}

.product_name:hover {
	color: #292b2c;
	text-decoration: underline;
 
}

.product_price {
	color: #799b10;
	font-size: 28px;
}

.ruble {
	font-weight: 300;
}