.log_modal, .reg_modal {
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	transition: all 0.2s linear;
}

.log_modal_content, .reg_modal_content {
	width: 25%;
	height: 90%;
	margin: 0 auto;
	background-color: white;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 1fr);
	align-content: center;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0;
}

.reg_modal_content {
	grid-template-rows: 2fr 1fr 2fr 2fr 2fr 4fr;
}

.log_close, .reg_close {
	cursor: pointer;
	font-size: 35px;
	color: rgba(100,100,100,0.5);
	font-weight: 100;
	position: absolute;
	top: 0px;
	display: block;
	right: 20px;
}

.log_close:hover, .reg_close {
	color: rgba(100,100,100,0.8);	
}

.log_heading, .reg_heading {
	margin: 0 auto;
	margin-top: 10px;
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
}

.log_input, .reg_input {
	height: 50px;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

.log_or {
	margin: 0 auto;
}

.log_button, .reg_button {
	background: #8dae26;
	height: 50px;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 15px;
	margin: 0 auto;
	width: 30%;
	text-transform: uppercase;
	cursor: pointer;
}

.reg_button {
	width: 55%;
}

.log_register_link {
	display: block;
	border-bottom: 1px dashed black;
	text-decoration: none;
	color: #0275d8;
	width: 50%;
	margin: 0 auto;
	white-space: nowrap;
}

.log_register_link:hover {
	text-decoration: underline;
	color: black;
}

.log_error, .reg_error {
	width: 100%;
	height: 30px;
	color: rgba(255,0,0,0.5);;
	background: rgba(255,0,0,0.2);
	text-align: center;
	padding: 5px;
}