.ma_user_menu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background-color: white;
	left: 22.5%;
	top: 100%;
	margin-top: 18px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	height: 50px;
	transition: all 0.2s linear;
	width: 75%;
	padding: 15px;
}

.ma_user_menu > nav > ul {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.ma_user_menu > nav > ul > li {
	list-style-type: none;
	margin-top: 10px;
}

.ma_um_hello {
	font-weight: 300;
	font-size: 12px;
}

.ma_user_menu > nav > ul > .ma_li > a {
	text-decoration: none;
	color: black;
}
.ma_user_menu > nav > ul > .ma_li > a:hover {
	text-decoration: underline;
	color: rgb(141,174,38);
}

.ma_um_logout {
	background: none;
	border: 0.5px solid rgb(141,174,38);
	color: rgb(141,174,38);
	width: 60%;
	height: 35px;
	padding: 5px;
	display: grid;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.ma_um_logout > a {
	color: rgb(141,174,38);
	margin: 0 auto;
	text-decoration: none;
}

